:root {
  --main-bg: #222831;
  --main-color: #eeeeee;
  --accent-color: #d65a31;
  --secondary-bg: #393e46;
}

body {
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  background: var(--main-bg);
  color: var(--main-color);
}
.header {
  padding: 32px;
  margin: 32px auto;
}
.projects-section {
  position: relative;
}
.introduction-bg {
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.projects-section .container {
  position: absolute;
  top: 0px;
  left: 0px;
}
.navbar-main-btn {
  color: var(--accent-color);
  font-family: "Abril Fatface", cursive;
}
.introduction {
  color: var(--main-color);
}
.introduction span {
  color: var(--accent-color);
  font-size: larger;
  font-family: "Abril Fatface", cursive;
}
.projects-header {
  font-family: "Abril Fatface", cursive;
  padding: 24px;
}
.project-img {
  margin: 8px 24px;
  padding: 16px;
  border: 2px solid var(--accent-color);
  background-color: var(--secondary-bg);
  border-radius: 8px;
}
#about-me-container {
  display: flex;
  justify-content: center;
}
#about-me-container p {
  background-color: var(--secondary-bg);
  color: var(--main-color);
  margin: 24px 48px;
  padding: 24px 16px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
#contact-container {
  background-image: url("../img/star-bg.jpg");
  background-size: cover;
  background-color: var(--secondary-bg);
  background-attachment: fixed;
  opacity: 0.6;
}
