:root {
  --main-bg: #222831;
  --main-color: #eeeeee;
  --accent-color: #d65a31;
  --secondary-bg: #393e46;
}

body,
html {
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  background: var(--main-bg);
  color: var(--main-color);
}
.header {
  padding: 32px;
}

.navbar-main-btn {
  color: var(--accent-color);
  font-family: "Abril Fatface", cursive;
}
.introduction {
  color: var(--main-color);
}
.introduction span {
  color: var(--accent-color);
  font-size: 1.3em;
  font-family: "Abril Fatface", cursive;
}

.projects-header {
  font-family: "Abril Fatface", cursive;
  padding: 24px;
}
.info-block {
  border: 2px solid var(--main-bg);
  background-color: var(--secondary-bg);
  border-radius: 8px;
}
.project-img {
  width: 90%;
  margin: 16px 24px;
  padding: 8px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
}
.projects-description {
  text-align: center;
  margin: 8px 24px;
  padding: 16px;
  line-height: 2em;
  font-size: 18px;
}

.social {
  margin: 24px auto;
  padding: 24px 16px;
  font-size: 1.125rem;
  border-radius: 8px;
}
#contact h1,
.about {
  font-family: "Abril Fatface", cursive;
  color: var(--accent-color);
}
#contact {
  background-color: var(--secondary-bg);
}
.social p a {
  text-decoration: none;
  color: #d65a31;
}

@media (max-width: 900px) {
  .introduction span {
    padding: 16px 0;
    margin: 24px 0;
  }
  .container #contact {
    text-align: center;
    margin: 0;
  }
  #contact .row {
    margin: 24px 0;
  }
}
