:root {
  --main-bg: #f2f8f4;
  --main-color: #110e12;
  --accent-color: #333333;
  --secondary-bg: #393e46;
  --text-shadow: 2px 2px 0px var(--secondary-bg),
    5px 4px 0px rgba(255, 255, 255, 0.15);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body,
html {
  text-align: center;
  font-family: "Junge", serif;
  background: var(--main-bg);
  color: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-brand {
  position: relative;
  padding: 8px;
  border-radius: 50%;
  transition: all 200ms ease-out;
  text-shadow: 2px 2px 0px var(--main-bg), 5px 4px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.navbar-brand:hover {
  color: var(--main-bg);
  text-shadow: var(--text-shadow);
}
.navbar-brand::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -50%;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #a88c7f;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}
.navbar-brand:hover::before {
  transform: scaleX(1) skewX(27deg);
}
.nav-link.active {
  font-size: 18px;
  font-weight: 600;
  color: #a88c7f;
  transition: color 1s;
  overflow: hidden;
}

.introduction {
  background: url(../img/main-back.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100%;
  min-height: 90vh;
  overflow: hidden;
  padding: 0;
}
.introduction-box {
  max-width: 100%;
  padding: 10vh 0;
  backdrop-filter: brightness(0.5);
  min-height: 100vh;
}
.home-content {
  margin: 0 auto;
  max-width: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-class {
  margin-bottom: 24px;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 600;
  color: var(--main-bg);
  text-shadow: var(--text-shadow);
}
.introduction h2 {
  font-weight: 600;
  color: var(--main-bg);
}
.home-btn {
  position: relative;
  width: 150px;
  padding: 12px;
  margin: 32px auto;
  border: #a88c7f 2px solid;
  border-radius: 8px;
  text-decoration: none;
  color: var(--main-bg);
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}
.home-btn:hover {
  color: var(--main-bg);
  text-shadow: var(--text-shadow);
}
.home-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -50%;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #a88c7f;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}
.home-btn:hover::before {
  transform: scaleX(1) skewX(27deg);
}
.projects-section {
  background: url(../img/main-back.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100%;
  padding: 0;
}

.project-img {
  width: 90%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.project-wrapper,
.contact-wrapper {
  padding: 20vh 0;
  max-width: 100%;
  backdrop-filter: brightness(0.5);
}
.projects-description {
  text-align: center;
  margin: 1.5rem 1.5rem;
  padding: 16px;
  line-height: 2em;
  font-size: 1.5rem;
  color: var(--main-bg);
}
.projects-description span {
  font-size: 1rem;
  text-align: left;
}
.about-page {
  background: url(../img/contact_back.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100%;
  min-height: 100%;
  max-width: 100%;
  padding: 0;
}
.about-intro {
  margin-bottom: 5rem;
}
.hero-photo {
  width: 70%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.about-text {
  margin-top: 32px;
  font-size: 1.25rem;
  color: var(--main-bg);
}
.about-text ul {
  margin: 32px 0;
  list-style: none;
}
.btn-to-projects {
  position: relative;
  margin-top: 32px;
  display: inline-block;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 16px 24px;
  border: 2px #a88c7f solid;
  background: #a88c7f;
  color: var(--main-bg);
  border-radius: 16px;
  font-family: "Jost", sans-serif;
  transition: all 200ms ease-out;
  overflow: hidden;
}
.btn-to-projects:hover {
  color: var(--main-bg);
  text-shadow: var(--text-shadow);
}

.certificates h2 {
  font-size: 2rem;
  margin: 2.5rem 0;
}

.education-img {
  max-width: 400px;
}

.contact-block-wrapper {
  background: url(../img/contact_back.png) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100%;
  min-height: 100%;
}
.contact-block {
  backdrop-filter: brightness(0.5);
  padding-top: 20vh;
  min-height: 90vh;
}
.contact {
  max-width: 100%;
  font-size: 1.5rem;
  line-height: 3;
  margin: 72px auto 0 auto;
}
.contact i {
  color: var(--main-bg);
  padding: 0 16px;
}
.contact ul {
  list-style: none;
}
.contact-links {
  color: var(--main-bg);
  text-decoration: none;
}

@media (max-width: 900px) {
  .papper {
    left: 28%;
  }
  .project-img {
    width: 300px;
    padding: 4px;
  }
}
@media (max-width: 700px) {
  .papper {
    left: 15%;
  }
}
@media (max-width: 400px) {
  .papper {
    left: 10%;
  }
}

footer {
  width: 100%;
  background: #f8f9fa;
  opacity: 0.8;
  padding-top: 12px;
}
footer .email {
  text-decoration: none;
  color: var(--main-color);
  transition: all 100ms ease-in-out;
}
footer .email:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
footer i {
  margin: 0 20px 10px;
  font-size: 1.5rem;
  color: var(--accent-color);
  transition: all 200ms ease-in-out;
  padding: 8px;
}
footer i:hover {
  color: #a88c7f;
  border-radius: 30%;
}
